doctype html

html(lang="en")
head
	title Visualization
	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
	script(src="https://www.gstatic.com/charts/loader.js")
	script(src="/js/main.js")
body
	a(href='/pieChart' id='pie') Pie Chart
	br
	a(href='/barChart' id='bar') Bar Charts
	div#myChart